
.two-column-layout {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
    max-width: 1200px; /* Limit overall width for better readability */
    margin: 2rem auto;
    padding: 0 1.5rem; /* Add horizontal padding */
}

.main-wrapper {
    flex: 3; /* Wider column */
    margin: 0rem auto;
    padding: 0rem 1rem;
}

.main-wrapper > section {
    margin-bottom: 1rem;
}

.side-wrapper {
    flex: 1; /* narrower column */
    margin: 0rem auto;
    padding: 0rem 1rem;
}

.side-wrapper > section {
    margin-bottom: 1rem;
}

.side-wrapper h3 {
    font-size: 1.1rem;
}

.profile-picture {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 3px solid #ffcb05;
    margin-bottom: 1rem;
}

.skills-category {
    margin-bottom: 2rem;
}

.icon-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.skills-category ul {
    margin-top: 1rem;
    padding-left: 20px;
    list-style: disc;
}

.skills-category ul li {
    margin-bottom: 0.5rem; /* Adjust the spacing between items */
}

.icon-item {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 2px;
    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); */
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

.icon-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.icon-item:hover {
    transform: scale(1.1);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

/* Experience Item */
.experience-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1.5rem;
}

.experience-item img.experience-logo {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
    border-radius: 8px;
    object-fit: cover;
    align-self: flex-start; /* Top align logo with title */
}

.experience-item div {
    flex: 1;
}

.experience-item h3 {
    font-size: 1.2rem;
    margin: 0;
    margin-bottom: 0.5rem;
}

.experience-item p {
    margin: 0.2rem 0;
    color: #555;
}

.experience-item ul {
    margin: 0.5rem 0 0 1rem;
    padding-left: 1rem;
    list-style-type: disc;
}

/* Date Alignment */
.date-align {
    text-align: right;
    font-style: italic;
    color: #555;
}

.role-and-dates {
    display: flex;
    justify-content: space-between;
    align-items: baseline; /* Align text vertically at the baseline */
    margin-top: 0.5rem; /* Optional: Add spacing above */
}

.role-and-dates p {
    margin: 0;
    font-size: 1rem; /* Adjust text size if needed */
    color: #333; /* Match other text styles */
}

.role-and-dates .date-align {
    text-align: right; /* Ensure date aligns right within flex container */
    font-style: italic;
    color: #555;
}
