/* Homepage */
.banner {
    position: relative;
    background-image: url('../images/homepage/banner.png'); /* Set the background image separately */
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 0;
    padding-top: 35%;
    display: flex;
    color: white;
    overflow: hidden;
}

.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(242, 244, 248, 0.3) 0.5%, rgba(0, 0, 0, 0.5) 50%, #001325 100%);
    z-index: 1;
}

/* Text styling */
.banner-text {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20%;
    right: 10%;
    z-index: 2;
    padding: 0 20px;
    max-width: 55%;
    text-align: left;
    font-family: 'Helvetica', sans-serif;
    text-shadow: 1px 1px 2px #333;
}

.banner-text h2 {
    font-size: 2.5vw; 
    color: #ffcb05;
    font-family: 'Papyrus', fantasy;
    margin-bottom: 1rem;
}

.banner-text p {
    font-size: 1.5vw;
    line-height: 1.6;
    color: white;
}
