/* Pub Card Layout */
.pub-card {
    display: flex;
    flex-direction: row;
    width: 95%;
    max-width: 1200px;
    margin: 2rem auto;
    background-color: white;
    padding: 1.5rem;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-radius 0.3s ease;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.15);
    border-radius: 0; /* Default, no rounded corners */
}

.pub-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2); /* Slightly stronger shadow on hover */
    border-radius: 12px; /* Rounded corners on hover */
}

.pub-card .left-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 1rem;
    margin-right: 1.5rem;
}

.pub-card .left-column .thumbnail {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 1rem; /* Space between thumbnail and venue */
    align-self: center;
}

.pub-card .right-column {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
}

.pub-card .right-column h2 {
    font-size: 1.5rem;
    font-weight: 700; /* Increased font weight */
    color: #00274c;
    margin-bottom: 1rem;
}

.pub-card .right-column .tags {
    margin-bottom: 1rem;
}

.pub-card .right-column .tags .tag-nlp,
.pub-card .right-column .tags .tag-cl,
.pub-card .right-column .tags .tag-mathed {
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    margin-right: 0.5rem;
    font-weight: bold;
}

/* Publication Links Icons */
.pub-card .publication-links {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 0.5rem;
    padding-left: 0;
}

.pub-card .publication-links a {
    margin-right: 1rem;
    display: inline-block;
}

.pub-card .publication-links img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}



/* Tag Colors */
.tag-nlp {
    background-color: #ffcb05;
    color: white;
}

.tag-cl {
    background-color: #ff7f50;
    color: white;
}

.tag-mathed {
    background-color: #32cd32;
    color: white;
}

/* Authors */
.pub-card .right-column .authors {
    font-size: 1rem;
    color: grey;
    font-style: italic;
    margin-bottom: 1rem;
}

.bold-author {
    font-weight: bold;
}

/* Abstract Styling */
.pub-card .right-column .abstract {
    font-size: 1rem;
    color: #333;
    line-height: 1.6;
    overflow: hidden;
    max-height: 80px; /* Set maximum height for abstract */
    position: relative;
}

.pub-card .right-column .abstract-text {
    margin-bottom: 0.5rem;
}

.pub-card .right-column .view-more {
    text-decoration: none;
    color: #00274c;
    font-weight: 500;
    cursor: pointer;
}

.pub-card .right-column .full-abstract {
    font-size: 1rem;
    color: #333;
    line-height: 1.6;
    display: none; /* Initially hidden */
}