<footer class="footer">
    <p>
        I'm not just about running code—I bring a mindset of breaking down problems and finding solutions in unexpected ways.
        
    </p>
    <p>
        Whether teaching, researching, or collaborating, I connect ideas and make things happen. 
    </p>
    <p>
        This is my grind. Let's connect: 
        <a href="mailto:erickhiu@umich.edu">erickhiu@umich.edu</a> | 
        <a href="https://linkedin.com/in/eric-khiu-224499145" target="_blank">LinkedIn</a>
    </p>
</footer>
