<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publications - Eric Khiu</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/header-footer.css">
    <link rel="stylesheet" href="assets/css/publications.css">
</head>
<body>
    <!-- Header Placeholder -->
    <div id="header-placeholder"></div>

    <main>
        <section class="section-page">
            <h1>Publications</h1>
            <ul>
                {% for publication in publications %}
                    <li>
                        <a href="/publications/{{ publication.pub_id }}">{{ publication.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </main>

    <!-- Footer Placeholder -->
    <div id="footer-placeholder"></div>
</body>
</html>
